<div class= "container">
<h1>Fancy n Furious</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) url(https://images.unsplash.com/photo-1485463611174-f302f6a5c1c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1> Book your dreams car with facility !!</h1>
    <p><%= link_to "See all the cars", cars_path%></p>
  </div>
</div>
<%= link_to "Sign in", new_user_session_path,
  class: "btn btn-primary" %>

<%= link_to "Create Account", new_user_registration_path,
  class: "btn btn-success" %>
</div>
