.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color: white;
}
#title {
  font-family: 'Faster One', cursive;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse .nav-item{
  padding-left:10px;
  padding-right:10px;
}
