// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');

body {
  background-color: #e7e6e5;
  font-family: 'IBM Plex Serif', serif;
}

body h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}

body h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}
